.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 270px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.pokemon-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.pokemon-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px 0;
}

.pokemon-card h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.btn {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  width: 180px;
  margin-top: 5px;
}

.btn.add {
  background-color: rgb(75, 177, 211);
}

.btn.remove {
  background-color: rgb(220, 56, 56);
}

.pokeball-img {
  width: 25px !important;
  height: 25px !important;
}